@import '@styles/global.scss';

.inline-code {
  display: inline-block;
  padding: 0 7px;
  margin: 0 2px;
  background-color: var(--code-bg-color);
  font-family: $content-font;
  font-size: $font-size-xs;
  line-height: 20px;
  color: var(--highlight-color-orange);
  border-radius: 5px;
  letter-spacing: 0.9px;
}