$header-z-index: 300;

$main-font: 'Courier New', Courier, monospace, sans-serif;
$content-font: 'Inter', sans-serif;

// font size
$font-size-title: 48px;
$font-size-description: 32px;

$font-size-xxl: 28px;
$font-size-xl: 24px;
$font-size-l: 20px;
$font-size-m: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;

$max-width: 700px;

$main-transition-duration: 0.5s;
$sub-transition-duration: 0.5s;