// $가 앞에 붙는 scss 변수는 css로 변환을 안 함. _가 붙은 파일도 마찬가지.

:root{
  --background-color: rgba(255, 255, 255, 0.5);

  --inline-code-text: rgba(255, 0, 0, .8);

  // dark/light 공통 color
  --black85: rgba(0, 0, 0, .85);
  --black70: rgba(0, 0, 0, .7);
  --black60: rgba(0, 0, 0, .6);
  --black50: rgba(0, 0, 0, .5);
  --black40: rgba(0, 0, 0, .4);
  --black20: rgba(0, 0, 0, .2);
  --black15: rgba(0, 0, 0, .15);
  --black10: rgba(0, 0, 0, .1);
  --black8: rgba(0, 0, 0, .08);
  --black5: rgba(0, 0, 0, .05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(0, 0, 0, 0.5);

    --inline-code-text: rgba(255, 0, 0, .8);
  }
}
