@import '@styles/global.scss';

.link-wrapper {
  text-decoration: none;
  padding: 50px 5px 10px;
  
  .heading1 {
    color: var(--text-color-primary);
    font-size: $font-size-xxl;
    font-weight: bold;
    position: relative;
    font-family: $main-font;
    transition: color 0.2s ease-in-out;
    padding-top: 50px;

    &:hover {
      color: var(--highlight-color-green);
    }
  }
}