/* Chalkboard */
@font-face {
  font-family: 'Chalkboard';
  font-weight: 400;
  font-display: swap;
  src: url('Cahlkboard.ttf') format('truetype');
}

@font-face {
  font-family: 'Chalkboard';
  font-weight: 700;
  font-display: swap;
  src: url('Cahlkboard-700.ttf') format('truetype');
}
