@import '@styles/global.scss';

@mixin active() {
  width: 100%;
  transition: opacity $sub-transition-duration ease-in-out;
}

.enter {
  position: absolute;
  opacity: 0;
}

.enter-active {
  @include active();
  position: absolute;
  opacity: 1;
}

.enter-done {
  position: initial;
  opacity: 1;
}

.exit {
  opacity: 1;
}

.exit-active {
  @include active();
  opacity: 0;
}

.exit-done {
  opacity: 0;
}

.transition-wrapper {
  box-sizing: border-box;
}
