@import '@styles/global.scss';
@import '@styles/color.scss';

.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 22px;
  border-bottom: 1px solid var(--mac-header-border-color);
  background: var(--mac-header-bg-color);
  z-index: $header-z-index;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  
    .buttons {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      .red {
        background-color: var(--mac-header-red);

        .svg-icon {
          width: 11px;
          height: 11px;
          fill: rgba(0, 0, 0, .6);
          display: none;
        }
      }

      .yellow {
        background-color: var(--mac-header-yellow);

        .svg-icon {
          width: 9px;
          height: 9px;
          fill: rgba(0, 0, 0, .6);
          display: none;
        }
      }

      .green {
        background-color: var(--mac-header-green);

        .svg-icon {
          width: 9px;
          height: 9px;
          fill: rgba(0, 0, 0, .6);
          display: none;
        }
      }

      &:hover {
        .svg-icon {
          display: block;
        }
      }
    }

    .vive-works {
      text-decoration: none;
      color: var(--mac-header-text-color);
      font-size: $font-size-xxs;
      justify-self: flex-start;
    }

    .dummy {
      width: 55px;
    }
  }
}

.svg-icon-wrapper {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
