@import '@styles/global.scss';

.linkWrapper {
  text-decoration: none;
  padding: 40px 5px 10px;
  
  .heading2 {
    color: var(--text-color-primary);
    font-size: $font-size-xl;
    font-weight: bold;
    position: relative;
    font-family: $main-font;
    transition: color 0.2s ease-in-out;
    padding-top: 40px;

    &:hover {
      color: var(--highlight-color-green);
    }
  }
}