@import '@styles/global.scss';

.heading-link {
  text-decoration: none;
  position: relative;
  font-size: $font-size-s;
  font-weight: bold;
  font-family: $main-font;
  line-height: 1.6;
  letter-spacing: 0.9px;
  word-break: keep-all;
  color: var(--highlight-color-green);
  transition: color 0.2s ease-in-out;
  padding: 1px;
  cursor: pointer;

  &:hover {
    color: var(--text-color-primary);
  }
}
